<table #table mat-table [dataSource]="dataSource">
  <!-- Date Column -->
  <ng-container cdkColumnDef="date">
    <th cdk-header-cell *cdkHeaderCellDef> Date </th>
    <td cdk-cell *cdkCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- Notes Column -->
  <ng-container cdkColumnDef="notes">
    <th cdk-header-cell *cdkHeaderCellDef> Notes </th>
    <td cdk-cell *cdkCellDef="let element"> {{element.notes}} </td>
  </ng-container>

  <!-- Task Column -->
  <ng-container cdkColumnDef="task_id">
    <th cdk-header-cell *cdkHeaderCellDef> Task ID </th>
    <td cdk-cell *cdkCellDef="let element"> {{element.task_id}} </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>
